.event {
  color: #455A64;
  background-color: #FAFAFA;
  border-radius: 4px;
  margin-bottom: .5rem;
  padding: .5rem;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #FAFAFA;
}
.event:hover {
  border-color: #CFD8DC;
}
.event .content .header {
  font-weight: bold;
  margin-bottom: .25rem;
}
.event .content .note {
  margin-bottom: .25rem;
}
.event .time {
  height: 3px;
  width: 100%;
  background-color: #CFD8DC;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.event .time .line {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #557A93;
}
