// White
@color-background: #FFFFFF;
@color-text: #757575;
@color-text-30: #757575;
@color-border: #eeeeee;
@color-hover: #e0e0e0;
@color-info: #01579B;
@color-error: #E53935;
@color-success: #00897B;

// Black
// @color-background: #212121;
// @color-text: #FFFFFF;
// @color-text-30: #FFFFFF30;