.button {
  color: #757575;
  cursor: pointer;
  display: inline-block;
}
.button[type="link"]:hover {
  text-decoration: underline;
}
.button[type="block"] {
  height: 2rem;
  padding: 0 .5rem;
  font-size: 1rem;
  background-color: #FFFFFF;
  border-radius: 3px;
  color: #757575;
  border: 1px solid #757575;
  line-height: 2rem;
}
.button[type="block"]:hover {
  background-color: #757575;
  color: #FFFFFF;
}
input[type="text"] {
  height: 2rem;
  padding: 0 .5rem;
  font-size: 1rem;
  background-color: #FFFFFF;
  border-radius: 3px;
  color: #757575;
  border: 1px solid #757575;
  width: 100%;
}
input[type="password"] {
  height: 2rem;
  padding: 0 .5rem;
  font-size: 1rem;
  background-color: #FFFFFF;
  border-radius: 3px;
  color: #757575;
  border: 1px solid #757575;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
  line-height: 1rem;
  font-family: 'Encode Sans Expanded', sans-serif;
  height: 100%;
  overflow: hidden;
  background-color: #FFFFFF;
}
body {
  font-size: 14px;
  line-height: 1rem;
  font-family: 'Encode Sans Expanded', sans-serif;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
body .name-project {
  width: 100%;
  cursor: default;
  font-size: 2rem;
  color: #757575;
  padding: 2rem 0;
  text-align: center;
}
body > .content {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #757575;
}
body > .content .content-top {
  height: 5rem;
  display: flex;
}
body > .content .content-center {
  display: flex;
  height: 100%;
}
body > .content .content-bottom {
  height: 3rem;
}
body .glyphicon {
  font-size: 1rem;
  color: #757575;
}
::selection {
  background-color: #757575;
  color: #FFFFFF;
}
::-moz-selection {
  background-color: #757575;
  color: #FFFFFF;
}
