::-webkit-input-placeholder {
  color: #BDBDBD;
}
::-moz-placeholder {
  color: #BDBDBD;
}
:-ms-input-placeholder {
  color: #BDBDBD;
}
:-moz-placeholder {
  color: #BDBDBD;
}
input[type="text"] {
  height: 2rem;
  padding: 0 .5rem;
  font-size: 1rem;
  background-color: #2F2F2F;
  border-radius: 3px;
  color: #E0E0E0;
  border: 1px solid #E0E0E0;
  width: 100%;
}
input[type="password"] {
  height: 2rem;
  padding: 0 .5rem;
  font-size: 1rem;
  background-color: #2F2F2F;
  border-radius: 3px;
  color: #E0E0E0;
  border: 1px solid #E0E0E0;
  width: 100%;
}
.button {
  color: #E0E0E0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
.button[data-type="link"]:hover {
  text-decoration: underline;
}
.button[data-type="block"] {
  height: 2rem;
  padding: 0 .5rem;
  font-size: 1rem;
  background-color: #2F2F2F;
  border-radius: 3px;
  color: #E0E0E0;
  border: 1px solid #E0E0E0;
  line-height: 2rem;
}
.button[data-type="block"]:hover {
  background-color: #E0E0E0;
  color: #2F2F2F;
}
input[type="button"] {
  color: #E0E0E0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
input[type="button"][data-type="link"]:hover {
  text-decoration: underline;
}
input[type="button"][data-type="block"] {
  height: 2rem;
  padding: 0 .5rem;
  font-size: 1rem;
  background-color: #2F2F2F;
  border-radius: 3px;
  color: #E0E0E0;
  border: 1px solid #E0E0E0;
  line-height: 2rem;
}
input[type="button"][data-type="block"]:hover {
  background-color: #E0E0E0;
  color: #2F2F2F;
}
input[type="button"][data-type="link"]:hover {
  text-decoration: underline;
}
input[type="button"][data-type="block"] {
  height: 2rem;
  padding: 0 .5rem;
  font-size: 1rem;
  background-color: #2F2F2F;
  border-radius: 3px;
  color: #E0E0E0;
  border: 1px solid #E0E0E0;
  line-height: 2rem;
}
input[type="button"][data-type="block"]:hover {
  background-color: #E0E0E0;
  color: #2F2F2F;
}
.label {
  color: #BDBDBD;
  margin-right: 1rem;
  cursor: default;
}
.label[data-side="right"] {
  margin-left: 0rem;
  margin-left: 1rem;
}
.comment {
  color: #BDBDBD;
  font-size: .8rem;
  font-style: italic;
}
