* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
  line-height: 1rem;
  font-family: 'Encode Sans Expanded', sans-serif;
  height: 100%;
  overflow: hidden;
  color: #E0E0E0;
  background-color: #2F2F2F;
}
body {
  font-size: 14px;
  line-height: 1rem;
  font-family: 'Encode Sans Expanded', sans-serif;
  height: 100%;
  overflow: hidden;
  color: #E0E0E0;
  display: flex;
  flex-direction: column;
}
body .name-project {
  width: 100%;
  cursor: default;
  font-size: 2rem;
  color: #E0E0E0;
  padding: 2rem 0;
  text-align: center;
}
::selection {
  background-color: #E0E0E0;
  color: #2F2F2F;
}
::-moz-selection {
  background-color: #E0E0E0;
  color: #2F2F2F;
}
.button {
  color: #E0E0E0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
.button[data-type="link"]:hover {
  text-decoration: underline;
}
.button[data-type="block"] {
  height: 2rem;
  padding: 0 .5rem;
  font-size: 1rem;
  background-color: #2F2F2F;
  border-radius: 3px;
  color: #E0E0E0;
  border: 1px solid #E0E0E0;
  line-height: 2rem;
}
.button[data-type="block"]:hover {
  background-color: #E0E0E0;
  color: #2F2F2F;
}
input[type="text"] {
  height: 2rem;
  padding: 0 .5rem;
  font-size: 1rem;
  background-color: #2F2F2F;
  border-radius: 3px;
  color: #E0E0E0;
  border: 1px solid #E0E0E0;
  width: 100%;
}
input[type="password"] {
  height: 2rem;
  padding: 0 .5rem;
  font-size: 1rem;
  background-color: #2F2F2F;
  border-radius: 3px;
  color: #E0E0E0;
  border: 1px solid #E0E0E0;
  width: 100%;
}
input[type="button"] {
  color: #E0E0E0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
input[type="button"][data-type="link"]:hover {
  text-decoration: underline;
}
input[type="button"][data-type="block"] {
  height: 2rem;
  padding: 0 .5rem;
  font-size: 1rem;
  background-color: #2F2F2F;
  border-radius: 3px;
  color: #E0E0E0;
  border: 1px solid #E0E0E0;
  line-height: 2rem;
}
input[type="button"][data-type="block"]:hover {
  background-color: #E0E0E0;
  color: #2F2F2F;
}
::-webkit-input-placeholder {
  color: #BDBDBD;
}
::-moz-placeholder {
  color: #BDBDBD;
}
:-ms-input-placeholder {
  color: #BDBDBD;
}
:-moz-placeholder {
  color: #BDBDBD;
}
.day-marker-block {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}
.day-marker {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #424242;
}
.day-marker:hover {
  border-color: #424242;
  background-color: #424242;
}
@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.float-area {
  position: fixed;
  display: none;
  transition: opacity 5s;
  background-color: #2F2F2F;
}
.float-area[data-shadow="true"] {
  box-shadow: 0 0 1.5rem #212121;
}
.float-area[data-show="true"] {
  display: block;
  opacity: 1;
  animation-name: example;
  animation-duration: 0.2s;
}
.menu {
  border-radius: 2px;
  padding: .5rem;
}
.menu .item {
  color: #E0E0E0;
  line-height: 1.5rem;
  padding: .2rem .5rem;
  border-radius: 2px;
  cursor: pointer;
}
.menu .item:hover {
  background-color: #424242;
}
.label {
  color: #BDBDBD;
  margin-right: 1rem;
  cursor: default;
}
.label[data-side="right"] {
  margin-left: 0rem;
  margin-left: 1rem;
}
.comment {
  color: #BDBDBD;
  font-size: .8rem;
  font-style: italic;
}
.form {
  background-color: #2F2F2F;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.line-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
[data-show="false"] {
  display: none;
}
