.settings {
   width: 100%;
   height: 100%;

   .settings-block {
      .row {
         margin-bottom: 1rem;
      }

      .top {
         .header {
            width: 100%;
            font-size: 1.5rem;
         }

         .buttons {
            .button {
               margin-left: 1rem;
            }
         }
      }

      .labels.column {
         .row {
            .label {
               width: 100%;
               text-align: right;
            }
         }
      }
   }

   // Статусы
   .statuses {
      .list {
         .item {
            display: flex;
            height: 2rem;
            margin-bottom: 1rem;
            width: 100%;

            .content {
               width: 100%;
               overflow: hidden;

               .marker-day {
                  margin-top: .25rem;
               }

               .note {
                  width: 90%;
                  line-height: 2rem;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
               }
            }

            .buttons {
               display: flex;

               .button {
                  line-height: 2rem;
                  margin-left: 1rem;
               }
            }
         }
      }
   }
}