.informer
   .color-indicator
   .top
      .header="It is mini header. My text text simple text. Long text."
      .button(type="link", name="close")="Close"
   .content
      ="It is mini header. My text text simple text. Long text. It is mini header. My text text simple text. Long text."