mixin statusDay(note, styleMarker, options)
   - note = note || 'Status';
   - options = typeof options === 'object' ? options : {};

   if options.isRevert
      .note=note
      .marker-day(style=styleMarker)
   else
      .marker-day(style=styleMarker)
      .note=note