//- Роут страницы
mixin routepage()
   if $namePage
      script !{"config.shim['Pages/" . $namePage ."/Router'] = {deps: ['Backbone']}; config.shim.Router.deps.push('Pages/" . $namePage .  "/Router');"}

doctype html
html
   head
      title="Year in pixels"
      meta(name="viewport", http-equiv="content-type", content="text/html, charset=utf-8, width=device-width, initial-scale=1.0")
      link(href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:400,700", rel="stylesheet")

      script(src="Client/Page/Config.js")

      //- Блок вставки кода ДО загрускии requirejs
      block headBefore

      script(data-main="Client/Librarys/Require/require-load", src="Client/Librarys/Require/require.js")

      //- Блок вставки кода ПОСЛЕ загрускии requirejs
      block headAfter

   body(style="visibility: hidden; overflow: hidden;")
      block bodyBeforeContent
      .content
         .content-top
            block contentTop
         .content-center
            block contentCenter
         .content-bottom
            block contentBottom
      block bodyAfterContent