include ../../../Page/Template.jade

block headBefore
   +routepage()
   script !{"window.palette = " . $paletteJSON . ";"}

block body
   .content
      .content-top
         ="Year in "
         ="pixels"
      .content-center
         .table
            .names-months
               .block-null
               each $nameMonth, $key in $namesMonths
                  .name-month
                     =$nameMonth
            .days
               .days-month
                  - $index = 0;
                  while $index < 31
                     .day-number
                        = $index + 1;
                     - $index++;
               - $monthIndex = 0;

               while $monthIndex < 12
                  .days-month
                     - $index = 0;
                     while $index < 31
                        - $date = $getDate(2018, $monthIndex + 1, $index + 1);
                        .block-color(title=$date, data-date=$date)
                        - $index++;
                  - $monthIndex++;

         .palette
            each $paletteItem, $id in $palette
               .palette-item
                  .block-color(style=$dayColor($paletteItem["color"]))
                  .note
                     =$paletteItem["note"]
      .content-bottom