Options All -Indexes

# Клиент
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*(Client)(.*)$ /$1$2 [L,QSA]

# Иконка
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*(favicon.ico)$ /$1 [L,QSA]

# Если попытаются зайти на файлы сервера
RewriteRule ^(Configs|Service).*$ /index.php/ [NC,L]

# Все остально перенаправляется на index
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php/$1 [NC,L,QSA]