Options All -Indexes
RewriteEngine On

#RewriteRule \.(json|jpg|jpeg|png|gif)$ - [NC,F,L]
RewriteRule .*(Configs|Service|Client/Pages).*$ - [NC,F,L]

#RewriteCond %{ENV:REDIRECT_FINISH} !^$
#RewriteRule ^ - [L]

#RewriteRule ^(.*)$ / [E=FINISH:1,L]