.marker-day-block {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}
.marker-day {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #424242;
}
.marker-day:hover {
  border-color: #424242;
  background-color: #424242;
}
