.form-edit-day {
  width: 100%;
}
.form-edit-day .top .status {
  display: flex;
  margin-bottom: .5rem;
  padding-bottom: .5rem;
}
.form-edit-day .top .status .day-marker {
  margin-right: 1rem;
}
.form-edit-day .top .status .note {
  color: #757575;
  line-height: 1.5rem;
}
.form-edit-day input {
  width: 100%;
}
.form-edit-day input[type="text"] {
  margin-bottom: 1rem;
}
