.status
   .day-marker
   .note="Status"
input(type="text", data-name="note", placeholder="Note day", data-field="true")
.buttons
   input(type="button", value="Cancel", data-type="block", data-name="cancel")
   input(type="button", value="Save", data-type="block", data-name="save")