@color-background: #FFFFFF;
@color-text: #757575;
@color-label: #BDBDBD;
@color-text-60: #75757560;
@color-text-30: #75757530;
@color-border: #eeeeee;
@color-hover: #e0e0e0;
@color-info: #01579B;
@color-error: #E53935;
@color-success: #00897B;
@color-shadow: #BDBDBD;