input(type="password", data-name="password-old", placeholder="Old password", data-field="true")
input(type="password", data-name="password-1", placeholder="Password", data-field="true")
input(type="password", data-name="password-2", placeholder="Password repeat", data-field="true")
.buttons
   input(type="button", value="Cancel", data-type="block", data-name="cancel")
   input(type="button", value="Save" data-type="block", data-name="save")