@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.float-area {
  position: fixed;
  display: none;
  transition: opacity 5s;
}
.float-area[data-show="true"] {
  display: block;
  opacity: 1;
  animation-name: example;
  animation-duration: 0.2s;
}
