@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.float-area {
  position: fixed;
  display: none;
  transition: opacity 5s;
  background-color: #212121;
  border: 1px solid #424242;
}
.float-area[data-shadow="true"] {
  box-shadow: 0 0 1rem #E0E0E060;
}
.float-area[data-show="true"] {
  display: block;
  opacity: 1;
  animation-name: example;
  animation-duration: 0.2s;
}
