body>.content {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
body>.content[data-blur="true"] {
  filter: blur(1px);
}
body>.content>.top {
  height: 5rem;
  display: flex;
  margin-bottom: 1rem;
}
body>.content>.top .name-project {
  text-align: left;
}
body>.content>.top .navigation {
  display: flex;
  padding-top: 2rem;
  height: 1rem;
  margin-top: 0.3rem;
}
body>.content>.top .navigation .button {
  margin-left: 1rem;
}
body>.content>.center {
  display: flex;
  height: 100%;
  width: 23.38rem;
}
body>.content>.center .table {
  overflow: hidden;
  display: none;
  flex-direction: column;
}
body>.content>.center .table[data-show="true"] {
  display: flex;
}
body>.content>.center .table .names-months {
  display: flex;
}
body>.content>.center .table .names-months .name-month {
  margin-left: .3rem;
}
body>.content>.center .table .days {
  display: flex;
  width: 106%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
body>.content>.center .table .days .days-month .day-number {
  margin-right: .3rem;
  margin-bottom: .3rem;
  padding-top: .2rem;
}
body>.content>.center .table .days .days-month .day-marker {
  margin-right: .3rem;
  margin-bottom: .3rem;
}
body>.content>.center .palette {
  margin-left: 1rem;
  padding-top: 1.7rem;
}
body>.content>.center .palette .palette-item {
  cursor: pointer;
  display: flex;
  margin-bottom: 1.5rem;
}
body>.content>.center .palette .palette-item .note {
  line-height: 1.5rem;
}
body>.content>.bottom {
  height: 3rem;
}
body .menu-settings {
  min-width: 6.2rem;
}
