body {
   &>.content {
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      // Размытие всего контента
      &[data-blur="true"] {
         filter: blur(1px);
      }

      &>.top {
         height: 5rem;
         display: flex;
         margin-bottom: 1rem;

         .name-project {
            text-align: left;
         }

         .navigation {
            display: flex;
            padding-top: 2rem;
            height: 1rem;
            margin-top: 0.3rem;

            .button {
               margin-left: 1rem;
            }
         }
      }

      &>.center {
         display: flex;
         height: 100%;
         width: 23.38rem;

         .days {
            .name-month {
               margin-left: .3rem;
            }

            .content {
               .day-number {
                  margin-right: .3rem;
                  margin-bottom: .3rem;
                  line-height: 1.5rem;
                  text-align: right;
               }
               
               .day-marker {
                  margin-right: .3rem;
                  margin-bottom: .3rem;
               }
            }
         }

         .palette {
            margin-left: 1rem;
            padding-top: 1.7rem;

            .palette-item {
               cursor: pointer;
               display: flex;
               margin-bottom: 1.5rem;

               .note {
                  line-height: 1.5rem;
               }
            }
         }
      }

      &>.bottom {
         height: 3rem;
      }
   }

   .menu-settings {
      min-width: 6.2rem;
   }
}