@content-column: 23.38rem;

body {
   &>.content {
      height: 100%;
      margin: 0 auto;

      &>.top {
         .name-project {
            text-align: left;
         }
      }

      &>.center {
         width: @content-column * 2;
         height: 100%;

         // Данные дней
         .days {
            width: @content-column;
         }

         // Форма редактирования дня
         .form-edit-day {
            margin-left: 1rem;
            width: @content-column - 1rem;
         }
      }
   }
}