body>.content {
  height: 100%;
  margin: 0 auto;
}
body>.content>.top .name-project {
  text-align: left;
}
body>.content>.center {
  width: 46.76rem;
  height: 100%;
}
body>.content>.center .days {
  width: 23.38rem;
}
body>.content>.center .form-edit-day {
  margin-left: 1rem;
  width: 22.38rem;
}
