include ../../Page/Template.jade

block headBefore
   +routepage()

block body
   .content.column
      .top.row
         .name-project="Year in pixels"

         //- Навигация
         .navigation
      .center.row
         //- Данные дней
         .days

         //- Форма редактирования дня
         .form-edit-day

         //- Настройки пользователя
         .settings